[mysqld]
port={{ mariadb.jdbc_port }}
bind-address=0.0.0.0
basedir={{ mariadb_home }}
binlog-format=mixed
datadir={{ mariadb.data_dir }}
socket={{ mariadb_home }}/mysql.sock
user={{ remote_user }}
log-bin=mysql-bin
max_binlog_size = 600M
expire_logs_days=3

[mysqld_safe]
log-error={{ mariadb_home }}/logs/mysqld.log
pid-file={{ mariadb_home }}/mysqld.pid