[mysqld]
port={{ mariadb.jdbc_port }}
bind-address=0.0.0.0
basedir={{ mariadb.home_dir }}
binlog-format=mixed
datadir={{ mariadb.data_dir }}
socket={{ mariadb.socket_dir }}/mysql.sock
user={{ remote_user }}
log-bin=mysql-bin
max_binlog_size = 600M
expire_logs_days=3
max_connections={{ mariadb.max_conn }}
character-set-server={{ mariadb.char_set }}

# 최초 설치시에는 NO_BACKSLASH_ESCAPES, 설치 후 ANSI_QUOTES 추가 후 재기동
sql_mode=NO_BACKSLASH_ESCAPES,ANSI_QUOTES

[mysqld_safe]
log-error={{ mariadb.home_dir }}/logs/mysqld.log
pid-file={{ mariadb.home_dir }}/mysqld.pid