[client]
port={{ mysql.jdbc_port }}
socket={{ mysql.socket_dir }}/mysql.sock

[mysqld]
port={{ mysql.jdbc_port }}
bind-address=0.0.0.0
basedir={{ mysql.home_dir }}
binlog-format=mixed
datadir={{ mysql.data_dir }}
socket={{ mysql.socket_dir }}/mysql.sock
user={{ remote_user }}
log-bin=mysql-bin
max_binlog_size=600M
expire_logs_days=3
max_connections={{ mysql.max_conn }}
character-set-server={{ mysql.char_set }}
explicit_defaults_for_timestamp=1

# 최초 설치시에는 NO_BACKSLASH_ESCAPES, 설치 후 ANSI_QUOTES 추가 후 재기동
#sql_mode=NO_BACKSLASH_ESCAPES,ANSI_QUOTES

[mysqld_safe]
log-error={{ mysql.home_dir }}/logs/mysqld.log
pid-file={{ mysql.home_dir }}/mysqld.pid